@media(max-width: 600px) {
  .mobmenu {
    display: flex;
    background-color: #474C75;
    justify-content: center;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    padding-top: 10px;
    margin: 0;
    min-width: 350px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  .mobmenu a {
    text-align: center;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.83px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .mobmenu>a>div {
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
  }

  .mobmenu img {
    width: 25px;
    height: 25px;
  }


  .footer-menu {
    display: none !important;
  }

  .footer-menu-address-tel {
    display: none !important;
  }

  
    .big {
        display: none;
    }

    .small {
        display: initial;
    }
    .container {
        width: 350px;
        margin: 0 auto;

      }
      
      .button-apply {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        gap: 5px;
        width: 150px;
        height: 35px;
        background: #474C75;
        border-radius: 2.4px;
        white-space: nowrap;
      }
      
      
      .button-apply>p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
      }

      .button-apply-wrapper {
        display: block;
        margin-bottom: 20px;
      }

      .button-apply-wrapper-big {
        display: none;
      }
      
      .button-apply-white {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        gap: 5px;
        width: 150px;
        height: 35px;
        border-radius: 2.4px;
        white-space: nowrap;
        background: #FFFFFF;
        }
        
        
        .button-apply-white>p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
        color: #474C75;
        }
      
      .button-more {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        gap: 5px;
        
        width: 172px;
        height: 35px;
        
        background: #DEE0F1;
        border-radius: 2.4px;
      white-space: nowrap;
      }
      
      .button-more>p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #474C75;
      
      }
      
      .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin-top: 19px;
      }
      
      .header-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 77px;
      }
      
      .logo {
      width: 135px;
      height: 26px;
      margin: 0;
      padding: 0;
      }
      
      .menu {
          display: none;
      }
      
      .call {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 5px;
      }
      
      .call-order {
        font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding-right: 1px;
    text-decoration: none;
    
    }
    
    .call-order:hover {
      color: #616BBE;
    }
    
    .call-order-ring {
        border-bottom: 1px #474C75 solid;
        color: #474C75;
    }
    
    .call-order-ring:hover {
      border-bottom: 1px #616BBE solid;
      color: #616BBE;
    }
    
    .call-order-tel {
      text-decoration: none !important;
        color: #474C75;
    }
    
    .call-order-tel:hover {
      color: #616BBE;
    }
      
      
      .under-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
      }
      
      .invest-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 5px;
      }
      
      .invest-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 105%;
        letter-spacing: 0.01em;
        text-transform: uppercase; 
        color: #565656;
      }
      
      
      .invest-text-under {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 100%;
        text-transform: uppercase;
        color: #474C75;
      }
      
      .img-background {
        width: 100%;
        height: 220px;
        border-radius: 5px;
        margin-top: 12px;
      }
      
      .point-wrapper {
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
      
      }
      
      .point-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 15px;
        gap: 5px;
        width: 170px;
        height: 92px;
        background: #FFFFFF;
        border-radius: 3px;
      
      }

      .point-item.location {
        padding-left: 15px;
      }
      
      .point-img {
          width: 27px;
          height: 27px;
      }
      
      .point-text-one {
      font-size: 12px;
      }
      
      .point-text-two {
          font-size: 12px;
      }
      
      .profitability {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;
            margin-top: 0px;
      }
      
      .heading-one {
        font-size: 16px;
        
      }
      
      .heading-two {
        font-size: 12px;
        line-height: 15px;
        color: #565656;
        margin-left: 0;
        margin-top: 0;
      
      }
      
      .profitability-carousel {
        width: 350px;
        height: 175.82px;
      }
      
      .vs {
        margin-top: 25px !important;
        gap: 20px;

      }
      
      .vs-point-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 10px;
      }
      
      .vs-point-item-white {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 30px 20px;
      gap: 20px;
      background: #FFFFFF;
      border-radius: 2.5px;
      width: 100%;
      }
      
      .vs-point-item-blue {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 20px;
        gap: 21px;
        background: #474C75;
        border-radius: 2.5px;
        width: 100%;
        }
      
      .vs-point-item-heading-wrapper {
      column-gap: 20px;
      }

      .img-city-building {
        width: 34px;
        height: 33px;
      }

      .img-suburbs-building {
        width: 35px;
      }
      
      
      .vs-point-item-blue .vs-point-item-heading-wrapper  {
        column-gap: 25px;
      }
      
      .vs-point-item-heading {
      font-size: 14px;

      
      text-transform: uppercase;
      color: #474C75;
      }
      
      .vs-point-item-blue .vs-point-item-heading {
        color: #FFFFFF;
      }
      
      .vs-point-item-text {

      font-size: 12px;

      }
      
      .vs-point-item-blue .vs-point-item-text {
        color: #FFFFFF;
      }
      
      .vs-point-item-block-one-wrapper {
      column-gap: 9px;
      }
      
      .vs-point-item-blue .vs-point-item-block-one-wrapper {
        margin-top: 10px;
      }
      
      .vs-point-item-block-one {
      row-gap: 10px;
      }
      
      .vs-point-item-block-two-wrapper {
      row-gap: 2.5px;
      padding: 0 0 0 20px;
      }
      
      .vs-point-item-blue .vs-point-item-block-two-wrapper {
      padding: 0 0 0 20px;

      }
      
      .vs-point-item-block-two {
      row-gap: 2.5px;
      }
      
      .profit {
      gap: 20px;
      margin-top: 0px;
      }
      
      .profit-how {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;

      }
      
      .profit-how-wrapper {
      display: flex;
      flex-direction: column;
      }

      .heading-one.margin-bottom {
        margin-bottom: 15px;
      }
      
      .profit-charter {
        flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
      }

      .profit-charter.charter-two {
        padding-left: 10px;
      }
      
      .img-house-planning-small {
        width: 330px;
        height: 349px;
      border-radius: 3px;
      display: initial;
      }

      .img-house-planning-big {
        display: none;
      }
      
      .profit-charter-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        width: 100%;
        
      }
      
      .profit-charter-text-heading {
        font-size: 12px;
        line-height: 15px;
      margin-bottom: 0;
      }
      
      .profit-charter-list {
        display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px !important;
      row-gap: 12px;
      margin-bottom: 0 !important;
      }
      
      .profit-charter-list>li {
        margin: 2px 0 7px 35px;
          padding: 0 0 0 25px;
        list-style: none;
        background-image: url(/img/list-style-icon.svg);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 14px;
      }
      
      .profit-charter-text-list {
        font-size: 12px;
        line-height: 15px;
      }

      .profit-charter-list.expenses>li {
        background-image: url(/img/list-style-icon.svg);
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 14px;
        margin: 2px 0 7px 35px;
        padding: 0 0 0 25px;
      }
      
      .profit-charter-text-result {
        font-size: 16px;
        line-height: 19px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;
      
      }
      
      .profit-charter-text-figures {
        font-size: 18px;
        line-height: 22px;
      }
      
      .profit-charter-text-underfigures {
      font-size: 8px;
      line-height: 10px;
      }
      
      .profit-charter-text-inner-wrapper {
      gap: 26px;
      }
      
      .credit-charter-wrapper {
        gap: 10px;
        margin: 0;
      }

      .img-credit-charter-big {
        display: none;
      }
      
      .img-credit-charter-small {
        display: initial;
      }

      
      .credit-heading {
        margin-top: 0px;
        margin-bottom: 20px;
      }
      
      .credit-charter-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        gap: 31px;
      }

      .credit-charter-text-wrapper {
        gap: 20px;
        margin: 0;
        width: 94%;
      }
      
      .credit-charter-list {
      row-gap: 15px;
      }
      
      .credit-charter-list>li {
        margin: 2px 0 0px 30px;
        padding: 0 0 0 25px;
        background-size: 14px;
      }
      
      .credit-charter-text-list {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 10px;
      }
      
      .credit-charter-text-result {
        font-size: 16px;
        line-height: 19px;
        margin-top: 20px;
        margin-bottom: 20px;
      
      }
      
      .credit-charter-text-figures {
      font-size: 18px;
      line-height: 22px;

      }
      
      .credit-charter-text-underfigures {
      font-size: 8px;
      line-height: 10px;
      }
      
      .credit-charter-text-inner-wrapper {
        gap: 15px;
      }
      
      
      .risks {
      gap: 24px;
      }
      
      .risks-items-wrapping {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        
      }

      
      .risks-item-block {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px;
        width: 170px;
        height: 183px;

      }

      .risks-item-block.second {
        height: 144px;
        
      }

      
      .risks-item-inner {
      gap: 10px;
      }
      
      .img-risks-item-icon {
        width: 30px;
      height: 30px;
      }
      
      .risks-item-inner-heading {
      font-size: 12px;
      }
      
      .risks-item-inner-text {
        font-size: 12px;
      }
      
      .rent {
      gap: 20px;
      
      }
      
      .rent-heading {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      
      .rent-charter-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        gap: 31px;
      }

      .rent-charter-text-wrapper {
        gap: 15px;
        margin: 0;
        width: 94%;
      }
      
      .rent-charter-list {
      row-gap: 15px;
      }
      
      .rent-charter-list>li {
        margin: 2px 0 0px 30px;
        padding: 0 0 0 25px;
        background-size: 14px;
      }
      
      .rent-charter-text-list {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 10px;
      }
      
      .rent-charter-text-result {
        font-size: 16px;
        line-height: 19px;
        margin-top: 20px;
        margin-bottom: 20px;
      
      }
      
      .rent-charter-text-figures {
      font-size: 18px;
      line-height: 22px;

      }
      
      .rent-charter-text-underfigures {
      font-size: 8px;
      line-height: 10px;
      }
      
      .rent-charter-text-inner-wrapper {
        gap: 26px;
      }
      
      .lidmagnit {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
      margin-top: 0;
      }
      
      .lidmagnit-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 20px;
      
      }
      
      .lidmagnit-text-header {
      font-size: 16px;
      line-height: 19px;
      }
      
      .lidmagnit-text-main {
      font-size: 12px;
      line-height: 15px;

      }
      
      .form {

        display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 20px;
      margin-top: 0;
      
      }
      
      .form-wrapper {
        display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 20px;
      padding-top: 6px;
      
      }
      
      
      
      .fm {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
      
      }
      
      .form-heading {
      font-size: 16px;
      line-height: 105%;

      }
      
      .form-heading-wrapper {
        display: flex;
flex-direction: column;
align-items: flex-start;
        gap: 12px;
        width: 100%;
        word-wrap: break-word;
      }
      
      .form-text {
        font-size: 12px;
        line-height: 15px;
      }
      
      .fm__input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        gap: 10px;
        font-size: 12px;
        line-height: 15px;
      }

      
      .fm__input._input {
        width: 350px;
        height: 35px;
      
      }
      
      .fm__input._message {
        width: 350px;
        height: 35px;
        resize: none;
        overflow: hidden;
        padding-top: 10px;
        
      }
      
      .custom-checkbox {
        position: absolute;
        opacity: 0;
      }
      
      .checkbox-text {

      font-size: 12px;
      line-height: 15px;

      }
      
      .checkbox-text>a {
        text-decoration: none;
        border-bottom: 1px solid #565656;
      }
      
      .custom-checkbox+label {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 20px;
      }
      .custom-checkbox+label::before {
        content: '';
        display: inline-block;
        width: 21px;
        height: 21px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1.5px solid #474C75;
        border-radius: 6px;
        margin-left: 2px;
        margin-right: 2px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }

      .img-form-photo-big {
        display: none;
      }
      
      .footer {
        padding: 0px;
        gap: 40px;
      margin-top: 0px;
      }
      
      .line{ 
        width: 100%;
        color: rgba(86, 86, 86, 0.5);
      }
      
      .footer-info-wrapper {
        display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 0 90px 0;
      gap: 20px;
      }
      
      .footer-info-block {
        display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 0px;
      gap: 30px;
      }
      
      .footer-info-block-text {
        font-size: 16px;
      }
      
      .footer-menu-wrapper {
        display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 25px;
      max-width: 350px;
      
      }
      
      .footer-menu {
        display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 20px;
      }
      
      .footer-menu-text {
        font-size: 16px;
      
      }
      
      .footer-menu-address {
        display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 40px;
      margin-left: 0;
      }
      
      .footer-menu-address-ad {
        display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 10px;
      }
      
      .footer-menu-address-tel {
        display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 10px;
      }
      
      .footer-menu-address-ad-dark {
        font-size: 16px;
        
      }
      
      .footer-menu-address-ad-blue {
        font-size: 16px;
      }
      
      .footer-menu-address-ad-blue>p {
        text-decoration: none;
        border-bottom: 1px solid #474C75;
        padding-bottom: 2px;
      }

      .swiper-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
      
      
      .swiper-slide img{
        width: 350px;
        height: 196px;
        object-fit: cover;
      }

      .modal-content {
        width: 320px;
        height: 387px;
      }

      .modal-body {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 20px;
        gap: 10px;
        
        width: 320px;
        height: 337px;
        
        background: #FFFFFF;
        border-radius: 5px;
      }

      .itc-modal-header {
        width: 320px;
      }
      
      .itc-modal-body {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 20px;
        gap: 10px;
        
        width: 320px;
        height: 337px;
        
        background: #FFFFFF;
        border-radius: 5px;
      }
      
      .img-close {
        width: 40px;
        height: 40px;
      }
      
      .modal-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
        
        width: 280px;
        height: 297px;
      }
      
      .modal-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        
        width: 280px;
        height: 59px;
      }
      
      .modal-heading {
        font-size: 16px;
      }
      
      .modal-text-main {
        font-size: 12px;
        line-height: 15px;
      }
      
      .fm-modal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        
        width: 280px;
        height: 218px;
      }
      
      .fm__input._modal {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        gap: 10px;
        
        width: 280px;
        height: 35px;
        
        /* white */
        
        background: #FFFFFF;
        /* blue 50 */
        
        border: 1px solid #A3A5BA;
        border-radius: 5px;
        font-size: 12px;
line-height: 15px;
      
      /* gray */
      
      color: #ABABAB;
        
      }
    
      .required-field {
        display: none;
      }
      
      .required-field._error {
        display: none;
      }

      .sticky {
        display: none;
      }
    
    }

@media(min-width: 601px) and (max-width: 1024px) {

  .header-menu.sticky {
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .heading-one {
    font-size: 20px;
    
  }
  
  .heading-two {
    font-size: 16px;
    line-height: 20px;
    color: #565656;
    margin-left: 0;
    margin-top: 0;
  
  }

  .big {
      display: none;
  }

  .small {
      display: initial;
  }
  .container {
      width: 600px;
      margin: 0 auto;

    }
    
    .button-apply {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      gap: 5px;
      width: 150px;
      height: 35px;
      background: #474C75;
      border-radius: 2.4px;
      white-space: nowrap;
    }
    
    
    .button-apply>p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;
    }

    .button-apply-wrapper {
      display: block;
      margin-bottom: 20px;
    }

    .button-apply-wrapper-big {
      display: none;
      align-self: flex-end;
      margin-top: -40px;
    }
    
    .button-apply-white {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      gap: 5px;
      width: 150px;
      height: 35px;
      border-radius: 2.4px;
      white-space: nowrap;
      background: #FFFFFF;
      }
      
      
      .button-apply-white>p {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
      color: #474C75;
      }
    
    .button-more {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      gap: 5px;
      
      width: 172px;
      height: 35px;
      
      background: #DEE0F1;
      border-radius: 2.4px;
    white-space: nowrap;
    }
    
    .button-more>p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #474C75;
    
    }
    
    .wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
    }
    
    .header-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px;
      gap: 0;
    }
    
    .logo {
    width: 135px;
    height: 26px;
    margin: 0;
    padding: 0;
    }
    
    .menu {
      display: flex;
      padding: 0;
      column-gap: 10px;
  }

  .menu>a {
    font-size: 16px;
    line-height:  19px;

    
}
    
    .call {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0px;
      gap: 5px;
    }
    
    .call-order {
      font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  padding-right: 1px;
  text-decoration: none;
  
  }
  
  .call-order:hover {
    color: #616BBE;
  }
  
  .call-order-ring {
      border-bottom: 1px #474C75 solid;
      color: #474C75;
  }
  
  .call-order-ring:hover {
    border-bottom: 1px #616BBE solid;
    color: #616BBE;
  }
  
  .call-order-tel {
    text-decoration: none !important;
      color: #474C75;
  }
  
  .call-order-tel:hover {
    color: #616BBE;
  }
    
    .under-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 10px;
    }
    
    .invest-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 10px;
    }
    
    .invest-text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 105%;
      letter-spacing: 0.01em;
      text-transform: uppercase; 
      color: #565656;
    }
    
    
    .invest-text-under {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 100%;
      text-transform: uppercase;
      color: #474C75;
    }
    
    .img-background {
      width: 100%;

        border-radius: 5px;
    }

    .point-wrapper {
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
  }
    
    
    .point-item {
      width: 290px;
      height: 170px;
      border-radius: 3px;
    
    }
.vs {
  margin-top: 0 !important;
}
    .vs-point-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    }
    
    .vs-point-item-white {
    align-self: stretch;
    }
    
    .vs-point-item-blue {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 25px 20px;
      gap: 21px;
      background: #474C75;
      border-radius: 2.5px;
      width: 48%;
      align-self: stretch;
      }
    
    .vs-point-item-heading-wrapper {
    column-gap: 20px;
    }

    .img-city-building {
      width: 34px;
      height: 33px;
    }

    .img-suburbs-building {
      width: 35px;
    }
    
    
    .vs-point-item-blue .vs-point-item-heading-wrapper  {
      column-gap: 25px;
    }
    
    .vs-point-item-heading {
    font-size: 14px;

    
    text-transform: uppercase;
    color: #474C75;
    }
    
    .vs-point-item-blue .vs-point-item-heading {
      color: #FFFFFF;
    }
    
    .vs-point-item-text {

    font-size: 12px;

    }
    
    .vs-point-item-blue .vs-point-item-text {
      color: #FFFFFF;
    }
    
    .vs-point-item-block-one-wrapper {
    column-gap: 9px;
    }
    
    .vs-point-item-blue .vs-point-item-block-one-wrapper {
      margin-top: 10px;
    }
    
    .vs-point-item-block-one {
    row-gap: 6px;
    }
    
    .vs-point-item-block-two-wrapper {
    row-gap: 2.5px;
    }
    
    .vs-point-item-blue .vs-point-item-block-two-wrapper {
    padding: 10px 0 0 27px;
    }
    
    .vs-point-item-block-two {
    row-gap: 2.5px;
    }
    
    .profit {
      gap: 20px;
      margin-top: 0;
      }
      
      .profit-how {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
  
      }
      
      .profit-how-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      }
  
      .heading-one.margin-bottom {
        margin-bottom: 20px;
      }

      .profit-charter {
        flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
      }

      
      .profit-charter.charter-two {
        padding-left: 10px;
      }
      
      .img-house-planning-small {
        width: 330px;
        height: 349px;
      border-radius: 3px;
      display: initial;
      }
  
      .img-house-planning-big {
        display: none;
      }
      
      .profit-charter-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        width: 100%;
        
      }
      
      .profit-charter-text-heading {
        font-size: 12px;
        line-height: 15px;
      margin-bottom: 0;
      }
      
      .profit-charter-list {
        display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px !important;
      row-gap: 15px;
      margin-bottom: 0 !important;
      }
      
      .profit-charter-list>li {
        margin: 2px 0 7px 20px;
          padding: 0 0 0 37px;
        list-style: none;
        background-image: url(/img/list-style-icon.svg);
        background-repeat: no-repeat;
          background-position: left top;
          background-size: 20px;
      }
      
      .profit-charter-text-list {
        font-size: 12px;
        line-height: 15px;
      }

      .profit-charter-list.expenses>li {
        margin: 2px 0 7px 20px;
      }
      
      .profit-charter-text-result {
        font-size: 16px;
        line-height: 19px;
        margin-top: 0px;
        margin-bottom: 0px;
      
      }
      
      .profit-charter-text-figures {
        font-size: 18px;
        line-height: 22px;
      }
      
      .profit-charter-text-underfigures {
      font-size: 8px;
      line-height: 10px;
      }
      
      .profit-charter-text-inner-wrapper {
      gap: 26px;
      }
  
      .img-credit-charter-big {
        display: none;
      }
      
      .img-credit-charter-small {
        display: initial;
        width: 50%;
      }

      .credit {
        margin-top: 35px;
      }
      
      .credit-heading {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      
      .credit-charter-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
        gap: 31px;
        margin: 0;
      }
  
      .credit-charter-text-wrapper {
        gap: 15px;
        margin: 0;
        width: 94%;
      }
      
      .credit-charter-list {
      row-gap: 15px;
      }
      
      .credit-charter-list>li {
        margin: 2px 0 0px 30px;
        padding: 0 0 0 37px;
      }
      
      .credit-charter-text-list {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 10px;
      }
      
      .credit-charter-text-result {
        font-size: 16px;
        line-height: 19px;
        margin-top: 20px;
        margin-bottom: 20px;
      
      }
      
      .credit-charter-text-figures {
      font-size: 18px;
      line-height: 22px;
  
      }
      
      .credit-charter-text-underfigures {
      font-size: 8px;
      line-height: 10px;
      }
      
      .credit-charter-text-inner-wrapper {
        gap: 15px;
      }
      
      
      .risks {
      gap: 24px;
     
      }
      .risks-items-wrapping {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        margin: 0 auto;
        gap: 20px;
    }
  
      
      .risks-item-block {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 15px;
        width: 170px;
        height: 183px;
  
      }
  
      
      .risks-item-inner {
      gap: 10px;
      }
      
      .img-risks-item-icon {
        width: 30px;
      height: 30px;
      }
      
      .risks-item-inner-heading {
      font-size: 12px;
      }
      
      .risks-item-inner-text {
        font-size: 12px;
      }
      
      .rent {
      gap: 20px;
      
      }
      
      .rent-heading {
        margin-top: 0px;
        margin-bottom: 20px;
      }
      
      .rent-charter-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
        gap: 31px;
      }
  
      .rent-charter-text-wrapper {
        gap: 15px;
        margin: 0;
        width: 94%;
      }
      
      .rent-charter-list {
      row-gap: 15px;
      }
      
      .rent-charter-list>li {
        margin: 2px 0 0px 30px;
        padding: 0 0 0 37px;
      }
      
      .rent-charter-text-list {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 10px;
      }
      
      .rent-charter-text-result {
        font-size: 16px;
        line-height: 19px;
        margin-top: 20px;
        margin-bottom: 20px;
      
      }
      
      .rent-charter-text-figures {
      font-size: 18px;
      line-height: 22px;
  
      }
      
      .rent-charter-text-underfigures {
      font-size: 8px;
      line-height: 10px;
      }
      
      .rent-charter-text-inner-wrapper {
        gap: 26px;
      }
      
      .lidmagnit {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
      margin-top: 0;
      }
      
      .lidmagnit-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 20px;
      
      }
      
      .lidmagnit-text-header {
      font-size: 16px;
      line-height: 19px;
      }
      
      .lidmagnit-text-main {
      font-size: 12px;
      line-height: 15px;
  
      }
      
      .form {
        display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: 0px;
      gap: 20px;
      margin-top: 0;
      
      }
      
      .form-wrapper {
        display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 20px;
      padding-top: 6px;
      
      }
      
      
      
      .fm {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
      
      }
      
      .form-heading {
      font-size: 16px;
      line-height: 105%;
  
      }
      
      .form-heading-wrapper {
        display: flex;
  flex-direction: column;
  align-items: flex-start;
        gap: 12px;
        width: 100%;
        word-wrap: break-word;
      }
      
      .form-text {
        font-size: 12px;
        line-height: 15px;
      }
      
      .fm__input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        gap: 10px;
        font-size: 12px;
        line-height: 15px;
      }
  
      
      .fm__input._input {
        width: 350px;
        height: 35px;
      
      }
      
      .fm__input._message {
        width: 350px;
        height: 35px;
        resize: none;
        overflow: hidden;
        padding-top: 10px;
        
      }
      
      .custom-checkbox {
        position: absolute;
        opacity: 0;
      }
      
      .checkbox-text {
  
      font-size: 12px;
      line-height: 15px;
  
      }
      
      .checkbox-text>a {
        text-decoration: none;
        border-bottom: 1px solid #565656;
      }
      
      .custom-checkbox+label {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 20px;
      }
      .custom-checkbox+label::before {
        content: '';
        display: inline-block;
        width: 21px;
        height: 21px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1.5px solid #474C75;
        border-radius: 6px;
        margin-left: 2px;
        margin-right: 2px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
  
      .img-form-photo-big {
        display: none;
      }
      
      .footer {
        padding: 0px;
        gap: 40px;
      margin-top: 0px;
      }
      
      .line{ 
        width: 100%;
        color: rgba(86, 86, 86, 0.5);
      }
      
      .footer-info-wrapper {
        display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 0px;
      gap: 46px;
      }
      
      .footer-info-block {
        display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 0px;
      gap: 30px;
      }
      
      .footer-info-block-text {
        font-size: 16px;
      }
      
      .footer-menu-wrapper {
        display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 25px;
      max-width: 350px;
      
      }
      
      .footer-menu {
        display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 20px;
      }
      
      .footer-menu-text {
        font-size: 16px;
      
      }
      
      .footer-menu-address {
        display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 40px;
      margin-left: 0;
      }
      
      .footer-menu-address-ad {
        display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 10px;
      }
      
      .footer-menu-address-tel {
        display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 10px;
      }
      
      .footer-menu-address-ad-dark {
        font-size: 16px;
        
      }
      
      .footer-menu-address-ad-blue {
        font-size: 16px;
      }
      
      .footer-menu-address-ad-blue>p {
        text-decoration: none;
        border-bottom: 1px solid #474C75;
        padding-bottom: 2px;
      }


      

      .modal-content {
        width: 320px;
        height: 387px;
      }

      .modal-body {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 20px;
        gap: 10px;
        
        width: 320px;
        height: 337px;
        
        background: #FFFFFF;
        border-radius: 5px;
      }

      .itc-modal-header {
        width: 320px;
      }
      
      .itc-modal-body {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 20px;
        gap: 10px;
        
        width: 320px;
        height: 337px;
        
        background: #FFFFFF;
        border-radius: 5px;
      }
      
      .img-close {
        width: 40px;
        height: 40px;
      }
      
      .modal-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
        
        width: 280px;
        height: 297px;
      }
      
      .modal-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        
        width: 280px;
        height: 59px;
      }
      
      .modal-heading {
        font-size: 16px;
      }
      
      .modal-text-main {
        font-size: 12px;
        line-height: 15px;
      }
      
      .fm-modal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        
        width: 280px;
        height: 218px;
      }
      
      .fm__input._modal {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        gap: 10px;
        
        width: 280px;
        height: 35px;
        
        /* white */
        
        background: #FFFFFF;
        /* blue 50 */
        
        border: 1px solid #A3A5BA;
        border-radius: 5px;
        font-size: 12px;
line-height: 15px;
      
      /* gray */
      
      color: #ABABAB;
        
      }
    
      .required-field {
        display: none;
      }
      
      .required-field._error {
        display: none;
      }  


    
    }

    @media(min-width: 1025px) and (max-width: 1419px) {
      body {
       zoom: 0.7;
      }
    
    
        }

